<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(document).ready(function(){
          $("#header").load("/include/header.ejs");
          $("#sidebar-wrapper").load("/include/sideadminpage.ejs");

      if('<%=user.gender%>' == 'F'){
        $('input[name=gender]:eq(0)').attr('checked', true);
      } else {
        $('input[name=gender]:eq(1)').attr('checked', true);
      }

      });

      function deleteMember(id){
        alert('deleteMemeber');
        location.href='/admin/user_delete?user_id='+id;

      }
    </script>
  </head>
    <body>
    <div id="header"></div>
    <div id="page-wrapper">
      <div id="sidebar-wrapper"></div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <h1>유저 상세 정보</h1>
          <ul>
            <li><p>아 이 디 : <input type ="text" class="form-control" value=<%= user.user_id%>></p></li>
            <li><p>이    름 :  <input type ="text" class="form-control" value=<%= user.name%>></p></li>
            <li><p>생년월일 :    <input id="someDate" type="date" class="form-control" name = "birthdate" value=<%=user.birthdate %>></p></li>
            <li><p>성    별 : <label class="chckbox-inline">
                <input type ="radio" name="gender" value="F"> 여자
                <input type ="radio" name="gender" value="M"> 남자 </p></li>
            <li><p>이 메 일 : <input type ="text" class="form-control" value=<%= user.email%>></p></li>
            <li><p>구    분 : <input type ="text" class="form-control" value=<%= user.type%>></p></li>
          </ul>
          <button class ="btn">수정</button>
          <button class ="btn" onclick="javascript:deleteMember('<%= user.user_id %>')">삭제</button>
        </div>
      </div>
    </div>
  </body>
</html>
