<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/landing-page.min.css" rel="stylesheet">
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script>
  $(document).ready(function() {
    $("#header").load("/include/header.ejs");
    $("#search").load("/include/search.ejs");
  });
  function click_book(book_id, sequence){
    location.href = 'book/detail?book_id=' + book_id + '&sequence=' + sequence;
  }
</script>

<body>
  <div id="header"></div>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">4일 도서관, 내 인생의 빛이 됩니다.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" id="search"></div>
      </div>
    </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <% ranking[0].forEach(function(ranking){ %>
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style = "cursor: pointer" onclick="javascript:click_book('<%= ranking.book_id %>', '<%= ranking.sequence%>')">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>대출<br/>1등 도서</h3>
            <br/>
            <p class="lead mb-0">
                <img src = "/img/<%= ranking.book_id %>.jpg"/ style = "height:80px;">
                <br/><br/>
                <p style = "font-size:15px; width: 100%; font-weight: bold;"><%= ranking.title %></p>
              <% }); %>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <% ranking[1].forEach(function(ranking){ %>
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style = "cursor: pointer" onclick="javascript:click_book('<%= ranking.book_id %>', '<%= ranking.sequence%>')">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>교육 분야<br/>1등 도서</h3>
            <br/>
            <p class="lead mb-0">
                <img src = "/img/<%= ranking.book_id %>.jpg"/ style = "height:80px;">
                <br/><br/>
                <p style = "font-size:15px; width: 100%; font-weight: bold;"><%= ranking.title %></p>
              <% }); %>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <% ranking[2].forEach(function(ranking){ %>
          <div class="features-icons-item mx-auto mb-0 mb-lg-3" style = "cursor: pointer" onclick="javascript:click_book('<%= ranking.book_id %>', '<%= ranking.sequence%>')">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>만화 분야<br/>1등 도서</h3>
            <br/>
            <p class="lead mb-0">
                <img src = "/img/<%= ranking.book_id %>.jpg"/ style = "height:80px;">
                <br/><br/>
                <p style = "font-size:15px; width: 100%; font-weight: bold;"><%= ranking.title %></p>
              <% }); %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
