<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Result</title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(document).ready(function(){
          $("#header").load("/include/header.html")
      });
    </script>
  </head>
    <body>
      <div id="header"></div>
      <table class = "table">
        <tr>
          <th>제목</th>
          <th>출판사</th>
          <th>글쓴이</th>
          <th>분류</th>
          <th>출판일</th>
          <th>대여상태</th>
        </tr>
        <% search_results.forEach(function(search_results){ %>
        <tr>
          <td><%= search_results.title %></td>
          <td><%= search_results.publisher %></td>
          <td><%= search_results.author %></td>
          <td><%= search_results.subject %></td>
          <td><%= search_results.publish_date %></td>
          <td>
            <%= search_results.status %>
          </td>
        </tr>
        <% }); %>
      </table>
  </body>
</html>
