<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search Result</title>
  <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
  <script>
    $(document).ready(function() {
      $("#header").load("/include/header.ejs");
      $("#sidebar-wrapper").load("/include/sideMypage.ejs");
      $("#search").load("/include/search.ejs");
    });
    var reservation = function(){
      location.href = "/mypage/reservation?book_id=book_detail.book_id&sequence=book_detail.sequence";
    }
  </script>
  <style>
    .info {
       background: #fffef9;
       overflow: hidden;
       padding-top: 20px;
       padding-left: 200px;
       border: 2px solid #fbfcf1;
     }

     .imgAlign {
       float: left;
       padding-left: 30%;
       padding-right: 5%;
     }

    .book_info li {
      list-style: none;
      padding-left: 0px;
      font-size: 15px;
      padding-bottom: 10px;
      margin-left: 150px;
      margin-top: 5px;
    }

    b {
      font-size: 25px;
    }

    img {
      height: 200px;
    }

  </style>
</head>

<body>
  <div id="header"></div>
  <div class="container">
    <div id="search"></div>
  </div>
  <div id="page-wrapper">
    <div id="sidebar-wrapper"></div>

    <div id="page-content-wrapper">
      <h1>Search Result</h1>
      <hr/>
      <div class="container-fluid info">
        <div class = "imgAlign">
          <img src="/img/<%=book_detail.book_id%>.jpg" />
        </div>
        <div class = "ulAlign">
        <ul class="book_info">
          <li style="line-height: 150%;">
            <b id="book_title"><%= book_detail.title %></b>
          </li>
          <li>
            출판사 :
            <%= book_detail.publisher %>
          </li>
          <li>
            글쓴이 :
            <%= book_detail.author %>
          </li>
          <li>
            분류 :
            <%= book_detail.subject %>
          </li>
          <li>
            출판일 :
            <%= moment(book_detail.publish_date).format('YYYY-MM-DD') %>
          </li>
          <li>
            <% var strStatus = book_detail.status;
                if(strStatus == 1){ %>
              대여상태 : 대여 가능
            </li>
          </ul>
              <% }else { %>
                대여상태 : 대여 불가
            </li>
          </ul>
          <br/><br/>
          <center>
            <button class = "btn btn-success" type = "button" style = "align: center;" onclick = "location.href = '/mypage/reservation?book_id=<%= book_detail.book_id %>&sequence=<%= book_detail.sequence %>'">
              예약
            </button>
          </center>
          <% } %>
      </div>
      </div>
    </div>
  </div>

</body>

</html>
