<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Result</title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(document).ready(function(){
          $("#header").load("/include/header.ejs");
          $("#sidebar-wrapper").load("/include/sideMypage.ejs");
      });
    </script>
  </head>
    <body>
      <div id="header"></div>
      <div id="page-wrapper">
        <div id="sidebar-wrapper"></div>

        <div id="page-content-wrapper">
          <div class="container-fluid">

            <h1>Search Result</h1>
            <table class = "table">
              <tr>
                <th>제목</th>
                <th>출판사</th>
                <th>글쓴이</th>
                <th>분류</th>
                <th>출판일</th>
                <th>대여상태</th>
              </tr>
              <% if(search_results.length > 0){
                search_results.forEach(function(search_result){ %>
              <tr>
                <td><a href="/book_detail?book_id=<%= search_result.book_id %>&sequence=<%= search_result.sequence %>"><%= search_result.title %></a></td>
                <td><%= search_result.publisher %></td>
                <td><%= search_result.author %></td>
                <td><%= search_result.subject %></td>
                <td><%= moment(search_result.publish_date).format('YYYY-MM-DD') %></td>
                <td>
                  <% var strStatus = search_result.status;
                  if(strStatus == 1){ %>
                    대여 가능
                  <% }else { %>
                    대여 불가
                  <% } %>
                </td>
              </tr>
              <% });
            } else { %>
              <tr align = "center">
                <td colspan="6">검색 결과가 존재하지 않습니다.</td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
      </div>

  </body>
</html>
